#dinosaur {
  position: absolute;
  left: 420px;
  top: 400px;
  clip: rect(0px,600px,200px,0px);
}

#floor {
  position: absolute;
  left: 360px;
  top: 440px;
  width: 600px;
  height: 1px;
  clip: rect(0px,600px,200px,0px);
}

#floor2 {
  position: absolute;
  left: 960px;
  top: 440px;
  width: 600px;
  height: 1px;
  clip: rect(0px,0px,200px,0px);
  fill: rgb(255, 0, 0);
}

#score {
  position: absolute;
  top: 220px;
  left: 900px;
}

#ob1 {
  position: absolute;
  top: 420px;
  clip: inherit;
}

#ob11 {
  position: absolute;
  top: 420px;
  clip: inherit;
}

#ob111 {
  position: absolute;
  top: 420px;
  clip: inherit;
}

#ob2 {
  position: absolute;
  top: 405px;
  clip: inherit;
}

#ob22 {
  position: absolute;
  top: 405px;
  clip: inherit;
}

#ob222 {
  position: absolute;
  top: 405px;
  clip: inherit;
}
