#dinosaur {
  position: absolute;
  left: 420px;
  top: 400px;
}

#floor {
  position: absolute;
  left: 360px;
  top: 440px;
  width: 600px;
  height: 1px;
  clip: rect(0px,600px,200px,0px);
}

#floor2 {
  position: absolute;
  left: 960px;
  top: 440px;
  width: 600px;
  height: 1px;
  clip: rect(0px,0px,200px,0px);
  fill: rgb(255, 0, 0);
}

#ob1 {
  position: absolute;
  top: 425px;
}

#ob11 {
  position: absolute;
  top: 425px;
}

#ob111 {
  position: absolute;
  top: 425px;
}

#ob2 {
  position: absolute;
  top: 410px;
}

#ob22 {
  position: absolute;
  top: 410px;
}

#ob222 {
  position: absolute;
  top: 410px;
}

#follow {
  position: absolute;
  top: 435px;
}
