body {
  margin: auto;
  width: 40%;
  border: 5px solid green;
  padding: 10px;
  background-color: grey;
  text-align: center;
}

#rectup {
  height: 150px;
}

#rectdown {
  height: 150px;
}

#buttons > * {
  background: green;
  color: white;
  font-size: 15px;
  padding:8px;
  border-radius: 100%;
  display-inline:block;
height: 10%;
width: 20%;
border-radius: 30%;
border: 5px solid darkgreen;
}

#status {
  background: #135418;
  padding: 30px;
  position: relative;
  width: 50%;
  left: 22%;
  color: white;
}
